<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <textarea
      matInput
      type="text"
      name="title"
      [ngModel]="post?.title"
      required
      minlength="3"
      placeholder="Content title"
      #title="ngModel">
      </textarea>
    <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6"
      name="content"
      required
      placeholder="Content"
      [ngModel]="post?.content"
      #content="ngModel">
    </textarea>
    <mat-error *ngIf="content.invalid">Please enter a post content.</mat-error>
    </mat-form-field>
    <button
    mat-raised-button
    color = "primary"
    type="submit">Save post</button>
  </form>
</mat-card>
